body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'sans-serif';
}

a {
    color: #181818;
    cursor: pointer;
}

h1 {
    font-size: 4.5em;
    font-family: 'vj', 'Open Sans', 'sans-serif' !important;,
}

@font-face {
    font-family: 'vj'; /*a name to be used later*/
    src: url('./vj.otf'); /*URL to font*/
}


@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

@media  only screen and (max-width: 720px) and (orientation: portrait) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:150px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:100px;
  }
}

.nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


#filterButton {
    min-width: 120px;
}

#container {
    width: 100%;

}

.Collage {

    /* define how much padding you want in between your images */
    width: 90%;
}


.Collage img {

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity:0;
    padding: 5px;

    max-height: 400px;
}

.modal-dialog {
  width: 90%;
}

.contact {font-size: 3.2em; padding-top: 25px; margin:0 auto; color: #333;}
.contact a {color: #333 !important;}
.contact a:hover{text-decoration: none; color: #fff;}
