* { margin: 0; padding: 0; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'sans-serif';
}

a {
    color: #181818;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', 'sans-serif';
}

h1 {
    font-size: 4.5em;
    font-family: 'vj', 'Open Sans', 'sans-serif';

}

.unselectable {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

@font-face {
    font-family: 'vj'; /*a name to be used later*/
    src: url('./vj.otf'); /*URL to font*/
}


@media (min-width: 979px) {

  #sidebar.affix-top {
    position: static;
    margin-top:30px;

    width: 200px!important;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width: 200px!important;
  }
  img
  {
      max-width: 100%;
      height: auto;
  }
}

@media  only screen and (max-width: 720px) and (orientation: portrait) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:150px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:100px;
  }
  img
  {
      max-width: 100%;
      min-width: 300px;
      height: auto;
  }
}

.nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

h5 {font-weight: 600;}
#filterButton {min-width: 120px;}

#container {width: 100%;}

.header {background-color: #222; margin: 0 auto; height: 120px;}


@media (min-width: 979px) {
    .contact {font-size: 1.4em; padding-top: 25px; color: #ccc; text-align: left;}
    .contact li {margin-left:10px;}
    .contact a {color: #636363; margin-left:10px; font-size:.7em;}
    .contact a:hover{text-decoration: none; color: #fff;}
    .contact_mobile {display: none;}
    .nav_mobile {display: none;}
}

@media  only screen and (max-width: 978px) and (orientation: portrait) {
    .contact {display: none;}
    .contact_mobile {font-size: 4em; line-height: .4em; color: #ccc; text-align: center; padding-top: 5px; padding-left:20px; margin-bottom: 3px; float:left;}
    .contact_mobile li {margin-left:10px; padding-bottom:0;}
    .contact_mobile a {color: #636363;  font-size: .8em;}
    .contact_mobile a:hover{text-decoration: none; color: #fff;}
    .nav_mobile {text-align: left;}
    #sidebar {display: none;}
    .Collage {text-align: center;}
}

.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}

#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   padding-top: 25px;
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
   width:90%;
}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}