<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="portfolioApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Valerie Jaquet - Marketing &amp; Media Sales Professional</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="./css/site.css" rel="stylesheet" />
    <link type="text/css" href="./css/transitions.css" rel="stylesheet" />

</head>
<body ng-controller="projectListCtrl">
    <div id="container" class="container">
        <div style="background-color: #222; margin: 0 auto; height: 120px; ">
            <h1  style="padding-top: 25px; width: 25%; color: #fff; margin: 0 auto;">valerie jaquet</h1>
        </div>
        <div class="row">
            <div class="col-md-2" style="text-align: right;" id="leftCol">
                <ul class="nav nav-stacked " id="sidebar"  ng-controller="filterListCtrl">
                 <li ng-repeat="filter in filters">
                          <a ng-click="filterItems(filter)">{{filter}}</a>
                    </li>
                </ul>
            </div>  
            <div class="col-md-10">
                <div ng-controller="ModalDemoCtrl">
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>I'm a modal!</h3>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li ng-repeat="item in items">
                                    <a ng-click="selected.item = item">{{ item }}</a>
                                </li>
                            </ul>
                            Selected: <b>{{ selected.item }}</b>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>

                    <div class="Collage">
                        <img ng-repeat="project in projects | orderBy:selectedCategory.index | projectCategories:selectedCategory.name" ng-src="{{ project.thumbnail }} " id="{{project.name}}_thumb" ng-click="open()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/jquery.collagePlus.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/angular.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="./js/ui-bootstrap-0.9.0.min.js"></script>
    <script src="./js/ui-bootstrap-tpls-0.9.0.min.js"></script>

    <script src="./js/controllers.js"></script>
    <script src="./js/services.js"></script>
    <script type="text/javascript">

    // Images grid
    $(window).load(function () {
        $('.Collage').collagePlus(
            {
                'effect' : 'effect-2',
                'allowPartialLastRow' : true
            }
        );
    });

    // Webfont
    WebFontConfig = {
        google: { families: [ 'Open+Sans::latin' ] }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();

    // sticky side nav
    $('#sidebar').affix({offset: {top: 120,}});
    var $body = $(document.body);
    var navHeight = $('.navbar').outerHeight(true) + 10;
    $body.scrollspy({
        target: '#leftCol',
        offset: navHeight
    });
    </script>
</body>
</html>