<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="portfolioApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Valerie Jaquet - Marketing &amp; Media Sales Professional</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="./css/site.css" rel="stylesheet" />
    <link type="text/css" href="./css/transitions.css" rel="stylesheet" />

</head>
<body ng-controller="projectListCtrl">
    <div id="container">
        
        <div style="background-color: #222; margin: 0 auto; height: 100px; ">
            <h1  style="padding-top: 25px; width: 25%; color: #fff; margin: 0 auto;">valerie jaquet</h1>
        </div>

        <nav class="navbar navbar-inverse" role="navigation" ng-controller="filterListCtrl">
            <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- <a class="navbar-brand" href="#">Valerie Jaquet</a> -->
              </div>
                <div class="collapse navbar-collapse center-pills" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav ">
                    <li ng-repeat="filter in filters">
                          <a ng-click="filterItems(filter)">{{filter}}</a>
                    </li>
                  </ul>
                </div>

                
            </div>
        </nav>
       <!--  <div class="btn-group" ng-controller="filterListCtrl">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="filterButton">
            Everything
            <span class="caret"></span>
            <span class="sr-only">Categories Dropdown</span>
          </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="filter in filters">
                      <a ng-click="filterItems(filter)">{{filter}}</a>
                </li>
            </ul>
        </div> -->

        <div ng-controller="ModalDemoCtrl">

            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3>I'm a modal!</h3>
                </div>
                <div class="modal-body">
                    <ul>
                        <li ng-repeat="item in items">
                            <a ng-click="selected.item = item">{{ item }}</a>
                        </li>
                    </ul>
                    Selected: <b>{{ selected.item }}</b>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>

            <div class="Collage">
                <img ng-repeat="project in projects" ng-src="{{ project.thumbnail }} " id="{{project.name}}_thumb" ng-click="open()" />
            </div>

            <button class="btn btn-default" ng-click="open()">Open me!</button>
        </div>
    </div>
    <script src="./js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/jquery.collagePlus.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/angular.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="./js/ui-bootstrap-0.9.0.min.js"></script>
    <script src="./js/ui-bootstrap-tpls-0.9.0.min.js"></script>

    <script src="./js/controllers.js"></script>
    <script src="./js/services.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('.Collage').collagePlus(
                {
                    'effect' : 'effect-2',
                    'allowPartialLastRow' : true
                }
            );
        });
    WebFontConfig = {
        google: { families: [ 'Open+Sans::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
</body>
</html>